#pvc-video-collection .inside label {
	display: block;
	padding-top: 15px;
	font-weight: bold;
}

#pvc-video-collection .inside input {
	padding: 5px 10px;
}

#pvc-video-collection .inside .pvc_image_placeholder {
	display: block;
	margin: 10px auto;
	border: 2px dashed #ccc;
	text-align: center;
	padding: 15px 0;
}

#pvc-video-collection .inside .pvc_admin_image {
	display: block;
	width: 300px;
	height: auto;
	margin-bottom: 15px;
}
