.pps-video-wrap {
	text-align: center;
	display: block;
	width: 100%;
	height: auto;
}

.pps-video-preview-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 56.25%;
}

.pps-video-preview-wrap a {
	display: block;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: auto;
}

.pps-video-preview-wrap a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.4;
	transition: all .2s ease-out;
	z-index: 11;
}

.pps-video-preview-wrap a:hover::after {
	background-color: transparent;
}
.pps-video-preview-wrap .push-btn {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 75px;
	height: 75px;
	text-align: center;
	background: #FFFFFF;
	opacity: 0.5;
	z-index: 99;
	box-shadow: 0 0 29px 0 #fff;
	animation: push-btn-fade-in 1s ease-in 0.5s infinite alternate;
}

.pps-video-preview-wrap .push-btn i {
	padding-left: 7px;
	line-height: 75px;
	font-size: 32px;
}

.vidpopup-description {
	color: white;
	padding: 5px;
	width: 100%;
	box-sizing:border-box;
	max-width: 640px;
}

.vidpopup-description p, .vidpopup-description li {
	color: white;
}

@-webkit-keyframes push-btn-fade-in {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.85;
	}
}

@-moz-keyframes push-btn-fade-in {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.85;
	}
}

@-o-keyframes push-btn-fade-in {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.85;
	}
}

@keyframes push-btn-fade-in {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.85;
	}
}

.pps-video-preview-wrap:hover .push-btn {
	animation: none;
	opacity: 1;
}

.pps-video-preview-wrap a > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 22;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.pps-video-preview-wrap a:hover img {
	transform: scale(1.05) rotate(.01deg);
}

.pvc-lightbox {
	display: none;
}

h2.pps-video-title {
	color: #fff;
	font-size: 1.5em;
	padding-right: 35px;
	margin-top: 0;
}

.popup_content iframe {
	border: none;
	max-width: 100%;
}

/*-------------------------------
 * POPUP.CSS
 * - *------------------------------*/

.vid_popup_back {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.vid_popup_cont {
	position: fixed;
	z-index: 102;
	max-width: 90%;
}

.preloader {
	z-index: 101;
}

/*---------------------
 * EDIT BELOW
 */

.vid_popup_cont .popup_close {
	color: #fff;
	cursor: pointer;
	position: absolute;
	padding: 0;
	right: 0;
	top: 28px;
	font-size: 28px;
	font-weight: bold;
	height: 30px;
	line-height: 1;
	width: 30px;
	text-align: center;
}

.vid_popup_cont .popup_close:hover {
	color: #888;
}

.vid_popup_back {
	cursor: pointer;
	background-color: #222;
}

.vid_popup_cont div.popup {
	background: transparent;
	padding: 25px 0;
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}

/******************************************
 * Popup Archive
 * ***************************************/
.video-container * {
	box-sizing: border-box;
}

.video-container {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.video-container .video-single-item {
	flex-basis: 33%;
	width: 33%;
	padding: 20px;
}
.pps-video-preview-title {
	font-size: 1.5em;
}

.pps-video-preview-title a {
	display: inline-block;
	text-decoration: none;
}

nav.pagination {
	display: block;
	width: 100%;
}

@media screen and (max-width: 830px) {
	.video-container .video-single-item {
		flex-basis: 50%;
		width: 50%;
		padding: 10px 25px;
	}
}

@media screen and (max-width: 480px) {
	.video-container .video-single-item {
		flex-basis: 100%;
		width: 100%;
	}
}

/* responsive popup video*/

.vid_popup_cont .popup .popup_content .hvc-video{
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}
.vid_popup_cont .popup .popup_content .hvc-video iframe{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
/***** Gutenberg block css *****/
.video-block .pps-video-preview-wrap .push-btn i {
	padding-left: 9px;
	line-height: 75px;
	width: auto;
	height: auto;
	font-size: 50px;
}
.video-block .pps-video-wrap{
	text-align: inherit;
}
.vid_popup_cont .hvc-popup-desc{
	color: #fff;
}