.video-block .pps-video-preview-wrap .push-btn i {
	padding-left: 9px;
	line-height: 75px;
	width: auto;
	height: auto;
	font-size: 50px;
}
.video-block .pps-video-wrap{
	text-align: inherit;
}
.vid_popup_cont .hvc-popup-desc{
	color: #fff;
}